{% block body %}
	<nav>
		<div>
			<img src="{{asset('assets/images/logo.png')}}" class="logo"/>

		</div>
		<div class="rubriques">
			<a href="{{path('main')}}" class="rubrique">Accueil</a>
			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{path('admin')}}" class="rubrique">Administration</a>
				<a href="{{path('add')}}" class="rubrique">Ajouter un Friend</a>
				<a href="{{path('contact')}}" class="rubrique">Mes Friends</a>
				<a href="{{path('app_logout')}}" class="rubrique">Deconnexion</a>
				<p class="nav-username">{{app.user.username}}<p/>
				{% elseif app.user %}
					<a href="{{path('add')}}" class="rubrique">Ajouter un Friend</a>
					<a href="{{path('contact')}}" class="rubrique">Mes Friends</a>
					<a href="{{path('remove_user', {'user': 'current'})}}" class="rubrique">Supprimer son compte</a>
					<a href="{{path('app_logout')}}" class="rubrique">Deconnexion</a>
					<p class="nav-username">{{app.user.username}}<p/>
					{% else %}
						<a href="{{path('register')}}" class="rubrique">Inscription</a>
						<a href="{{path('login')}}" class="rubrique">Connexion</a>
					{% endif %}
				</div>
			</nav>
		{% endblock %}
